body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 400px;
  height: 700px;
}

a, a:focus {
  outline: none;
}

.score-container {
  text-align: right;
  margin-top: -3.5em;
  margin-bottom: 1.5em;
}

.ui.header.main-header {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.index-page, .result-page {
  text-align: center;
}

.small {
  font-size: 0.6em;
}

.ui.header.question {
  margin-bottom: 1em;
}

.ui.grid > .column.answer {
  padding-bottom: 0;
}
